<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <title>Build your resume</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://127.0.0.1:5000/static/css/main.css">
    <!-- <link rel="stylesheet" href="http://127.0.0.1:5000/static/css/resume.css"> -->
   <style>
    h1{
        text-align: center;
    }
    .container{
        margin-top: 100px;
        padding: 50px;
        box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
        background-color: white;
    }
    table{
        margin: 50px 100px; 
    }
    table, tr, th, td{
        border: 1px solid #ddd;
        border-collapse: collapse;
        padding: 10px;
    }

   </style>
</head>
<body>
    <nav class="navbar navbar-inverse" style="margin: 0;">
        <div class="container-fluid">
          <div class="navbar-header">
            <!-- <a class="navbar-brand" ><img src="{{url_for('static', filename='img.jpg')}}" width="40px"></a> -->
            <a class="navbar-brand" >Jobtrix</a>
              </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
               <li ><a href="/logout"></span>Home</a></li>
            </ul>
          </div>
        </div>
      </nav>
      
    {% if joblist %}
      <div class="container">
            {% for job in joblist %}
                <table>
                    <tr>
                        <th>{{ heading[0] }}</th> <td>{{job[0]}}</td>
                    </tr>
                    {% for i in range(2, 10) %}
                    <tr>
                        <th>{{ heading[i] }}</th> <td>{{job[i]}}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="2"><a href="{{job[1]}}" class="form-control btn btn-success" target="_blank">apply</a></td>
                    </tr>
                </table>
            {% endfor %}
      </div>
    {% endif %}

    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
    <script src="http://127.0.0.1:5000/static/js/main.js"></script>

</body>
</html>