{% extends "layout_recommend.html" %}
{% block content %}

{% if ud %}
      <section>
        
        <aside>
            <ul id="menu">
                <li>
                    <img src="data:image/png;base64,{{dp}}" class="img-circle img-thumbnail">
                    <p>{{ fullname }}</p>
                </li>
                <li><a data-value="#home" onclick="handleNavigation(event)"  >Home</a></li>
                <li><a data-value="#skills" onclick="handleNavigation(event)" >Skills</a></li>
                <li><a data-value="#academics" onclick="handleNavigation(event)" >Academics</a></li>
                <li><a data-value="#project" onclick="handleNavigation(event)" >Academic projects</a></li>
                <li><a data-value="#about" onclick="handleNavigation(event)" >About</a></li>
                <li> <a href="/download" >download resume</a></li>
            </ul>            
        </aside>
        <main>
            <div id="home" class="active">
                <table>
                    <thead>
                        <tr><th>OBJECTIVES</th></tr>
                    </thead>
                    <tbody>
                        <tr><td>{{ objective }}</td></tr>
                    </tbody>
                </table>

                <table>
                    <thead>
                        <tr><th>PERSONAL DETAILS</th><th>&nbsp;</th></tr>
                    </thead>
                    <tbody>
                        <tr><td>FULL NAME</td><td>{{ fullname }}</td></tr>
                        <tr><td>DATE OF BIRTH</td><td>{{ bday }}</td></tr>
                        <tr><td>MARITAL STATUS</td><td>{{ marital }}</td></tr>
                        <tr><td>LANGUAGE KNOWN</td><td>{{ languages }}</td></tr>
                        <tr><td>CONTACT NO</td><td>{{ pnum }}</td></tr>
                        <tr><td>GMAIL ID</td><td>{{ gid }}</td></tr>
                        <tr><td>PERMANENT ADDRESS</td><td>{{ paddress }}</td></tr>
                        <tr><td>CURRENT ADDRESS</td><td>{{ caddress }}</td></tr>
                    </tbody>
                </table>
                    <!-- {% autoescape off %}
            {{ d }}
            {% endautoescape %} -->
            </div>


            <div id="skills">
                <table>
                    <thead>
                        <tr><th>SUMMARY OF SKILLS</th></tr>
                    </thead>
                    <tbody>
                        <tr><td><ul>
                            {% for i in summury %}
                                    <li>{{ i[0] }}</li>
                            {% endfor %}
                        </ul></td></tr>
                    </tbody>
                </table>

                <table>
                    <thead>
                        <tr><th>TECHNICAL SKILLS</th><th>&nbsp;</th></tr>
                    </thead>
                    <tbody>
                        <tr><td>WEB SKILLS</td><td>{{ skill }}</td></tr>
                        <tr><td>WEB TOOLS</td><td>{{ tool }}</td></tr>
                        <tr><td>DATABASE</td><td>{{ db }}</td></tr>
                        <tr><td>OPERATING SYSTEMS</td><td>{{ sos }}</td></tr>
                    </tbody>
                </table>
            </div>


            <div id="academics">
                {% for i in academic %}
                <table>
                    <thead>
                        <tr><th>QUALIFICATION</th><th>&nbsp;</th></tr>
                    </thead>
                    <tbody>
                        
                        <tr><td>COURSE</td><td>{{ i[0] }}</td></tr>
                        <tr><td>COLLEGE</td><td>{{ i[1] }}</td>
                        <tr><td>RESULT</td><td>{{ i[2] }}%</td></tr>
                        <tr><td>PASSOUT YEAR</td><td>{{ i[3] }}</td></tr>  
                                    
                    </table>
                </table>
                {% endfor %}              
            </div>


            <div id="project">
                <table>
                    <thead>
                        <tr><th>PROJECT WORK</th><th>&nbsp;</th></tr>
                    </thead>
                    <tbody>
                        <tr><td>TITLE</td><td>{{ title }}</td></tr>
                        <tr><td>TECHNOLOGIES USED</td><td>{{ tech }}</td></tr>
                        <tr><td>SERVER</td><td>{{ srvr }}</td></tr>
                        <tr><td>OPERATING SYSTEM</td><td>{{ pos }}</td></tr>
                        <tr><td>TEAM SIZE</td><td>{{ team }} </td></tr>
                    </tbody>
                </table>

                <table>
                    <thead>
                        <tr><th>PROJECT DESCRIPTION</th></tr>
                    </thead>
                    <tbody>
                        <tr><td>
                            {{ desp }}    
                        </td></tr>
                    </tbody>
                </table>
            </div>


            <div id="about">
                <table>
                    <thead>
                        <tr><th>CURRICULAR ACTIVITIES</th></tr>
                    </thead>
                    <tbody>
                        <tr><td><ul>
                                    {% for i in activities %}
                                    <li>{{ i[0] }}</li>
                                    {% endfor %}
                        </ul></td></tr>
                    </tbody>              
                </table>

                <table>
                    <thead>
                        <tr><th>STREGTHS</th></tr>
                    </thead>
                    <tbody>
                        <tr><td><ul>
                            {% for i in strength %}
                            <li>{{ i[0] }}</li>
                            {% endfor %}
                        </ul></td></tr>
                    </tbody>              
                </table>

                <table>
                    <thead>
                        <tr><th>DECLARATION</th></tr>
                    </thead>
                    <tbody>
                        <tr><td>
                            {{ declaration }}
                        </td></tr>
                    </tbody>              
                </table>

            </div>
        </main>
    </section>

{% else %}
<h2 style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI';">Looks like you haven't filled in your details :[
    <br> <br>  Click <a href="/landinguser">here</a> to build resume</h2>
{% endif %}

{% endblock %}