<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jobtrix</title>
    <title>Quiz</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://127.0.0.1:5000/static/css/main.css">
    <!-- <link rel="stylesheet" href="http://127.0.0.1:5000/static/css/resume.css"> -->
   <style>
    body{
  background-color: whitesmoke;
}
    .content{
      width: 70%;
      /* border: 1px solid #ddd; */
      padding: 5%;
      margin: 10px;
      background-color: rgb(176, 204, 216);
    }
   </style>
</head>
<body>
    <nav class="navbar navbar-inverse" style="margin: 0;">
        <div class="container-fluid">
          <div class="navbar-header">
            <!-- <a class="navbar-brand" ><img src="{{url_for('static', filename='img.jpg')}}" width="40px"></a> -->
            <a class="navbar-brand" >Job Portal</a>
              </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li ><a href="/profile1"></span>Profile</a></li>
              <li ><a href="/buildresume">Resume</a></li>
              <li ><a href="/jobs"></span>Jobs</a></li>
              <li><a href="/appliedjobs">Jobs applied</a></li>
              <li ><a href="/quiz"></span>Quiz</a></li>
             <li ><a href="/logout"></span>Logout</a></li>
            </ul>
          </div>
        </div>
      </nav>
      
      {% block content %}
      {% if msg %}
      <div class="alert alert-danger alert-dismissible fade in" style="padding: 10px 10%;">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> 
        <strong>{{msg}}</strong>
      </div>
      {% endif %}
    </div>
    {% endblock content %}

    <div class="container">
      <div class="content">
              <h1>Questions</h1>
              <hr>
                    <label for="">1. Who developed Html Programming Language ?</label><br>
                    <br><input type="radio" name="q1" value="1"> Wick van Rossum
                    <br><input type="radio" name="q1" value="2"> Rasmus Lerdorf
                    <br><input type="radio" name="q1" value="3"> Guido van Rossum
                    <br><input type="radio" name="q1" value="4"> Rasmus
                    <br>
                    <br>
                    <label for="">2. Which type of Programming does Html support ?</label><br>
                    <br><input type="radio" name="q2" value="1"> object-oriented programming
                    <br><input type="radio" name="q2" value="2"> structured programming
                    <br><input type="radio" name="q2" value="3"> Dyanamic programming
                    <br><input type="radio" name="q2" value="4"> all of the mentioned
                    <br>
                    <br>
                    <label for="">3. Is Html case sensitive when dealing with identifiers ?</label><br>
                    <br><input type="radio" name="q3" value="1"> Yes
                    <br><input type="radio" name="q3" value="2"> No
                    
                    <br>
                    <br>
                    <label for="">4. Which of the following is the correct extension of the Html file ?</label><br>
                    <br><input type="radio" name="q4" value="1"> .html
                    <br><input type="radio" name="q4" value="2"> .h
                    <br><input type="radio" name="q4" value="3"> .ht
                    <br><input type="radio" name="q4" value="4"> .htm
                    <br>
                    <br>
                    <label for="">5. Is Html code compiled or interpreted ?</label><br>
                    <br><input type="radio" name="q5" value="1"> Html code is neither compiled nor interpreted
                    <br><input type="radio" name="q5" value="2"> Html code is only compiled
                    <br><input type="radio" name="q5" value="3"> Html code is both compiled and interpreted
                    <br><input type="radio" name="q5" value="4"> Html code is only interpreted
                    <br>
                    <br>
    
                    <button id="Submit" class="btn btn-success">Submit</button>
    
                    <div id="result">
    
                    </div>
                    <div><a class="btn btn-success" href="{{url_for('quizlanding')}}">Return to main page</a></div>
            </div>
        </div>
      <script>
        $(document).ready(function() {
          $("#Submit").on("click",function(e){
              let Q1 = $('input[name="q1"]:checked').val();
              let Q2 = $('input[name="q2"]:checked').val();
              let Q3 = $('input[name="q3"]:checked').val();
              let Q4 = $('input[name="q4"]:checked').val();
              let Q5 = $('input[name="q5"]:checked').val();
    
              $.ajax({
                  method:"post",
                  url:"/exam",
                  data: {q1:Q1, q2:Q2, q3:Q3, q4:Q4, q5:Q5},
                  success:function(res){
                      console.log(res)
                      data = "<h1>"+res+"</h1>";
                      $("#result").html(data);
                  }
                });
              });
    
          });
      </script>
    </body>
    </html>